#favourite-heros{
    display: flex;
    width: 85%;
    margin: auto;
    min-width: 480px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

  /* #title{
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
  } */
  
  .hero-details{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
  
  .hero-img-container{
    height: 270px;
    width: 210px;
  }
  
  .hero-img-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 35px;
    margin-top: -35px;
  }
  
  .hero-name{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px;
  }
  
  .remove-fav{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5CC7B2;
    padding: 15px;
    color: #131212;
    border-radius: 5px;
  }
  
  .remove-fav:hover{
    background-color: #C75C71;
    cursor: pointer;
  }
  
  .nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 15px 0 0;
  }
  
  .nav a{
    text-decoration: none;
    color: #2A3542;
    font-weight: bold;
    font-size: 1.2rem;
  }